{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <h1>Темы</h1>
    <a class="btn btn-primary" href="{% url 'learning_logs:new_topic' %}">Добавить новую тему</a>
    <br>
    <br>
    <div class="list-group">
      <div class="container">
        {% for topic in topics %}
        <div class="row">
          <div class="col">
            <a class="list-group-item list-group-item-action" href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
          </div>
          <div class="col">
            <a href="{% url 'learning_logs:delete_topic' topic.id %}" class="btn btn-outline-danger">Удалить</a>
          </div>
        </div>
        <br>
        {% empty %}
        <li>Пока не создано ни одной темы</li>
        {% endfor %}
    </div>

{% endblock %}
